/* Stylesheet for DropDown React component */

/* DropDown container component */
.dropDown {
    background-color: lightgoldenrodyellow;
}

/* DropDown selector */
.dropDownSelector {
    cursor: pointer
}

/* DropDown list */
.dropDownList {
    font-family: sans-serif;
}

/* DropDown item */
/* Normal and selected */
.dropDownItem {
    background-color: lightsalmon;
    cursor: pointer;
    font-weight: normal;
}

.dropDownItemSelected {
    background-color: orange;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

/* dropdown animations */

.showDropDown {
    max-height: 500px;
    transition: max-height .3s linear;
}

.hideDropDown {
    max-height: 0;
    transition: max-height .3s linear;
    overflow: hidden;
}
