$clickable-color: #000;
$clickable-bg-color: rgb(246, 169, 131);

$selected-color: white;
$selected-bg-color: #F52204;

$static-text-color: #444;
$static-text-bg-color: #eee;

$text-header-color: #eee;
$text-header-bg-color: #444;
