/* Stylesheet for DropDown and FlipBox React components */

@import "./_variables.scss";

/* The FilterMenu flex container formatting */
.filterMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%; /* this because FilterMenu is a flex item in itself, in addition to being a flex container */
  justify-content: space-between;
}

/* DropDown container component, now just debug info */
.dropDown {
  font-size: .8em;
  flex-basis: $filter-width;
  flex-grow: 1;
  max-width: $max-filter-width;
}

/* clickable filters / dropdown selectors looks */
.filterSelector {
  cursor: pointer;
  color: $filter-color;
  background-color: $filter-bg-color;
  line-height: $filter-height;
  font-family: $filter-font, sans-serif;
  text-align: center;
  position: relative;
  margin: 1% 0 1% 0;
}

/* DropDown list */
.dropDownList {
  cursor: pointer;
  line-height: $filter-height;
  font-family: $filter-font, sans-serif;
  width: $dropdown-list-width;
}

/* DropDown items */
.dropDownItem {
  font-weight: normal;
  color: black;
  background-color: lightsalmon;
  padding: 0 0 0 5%;
}

.dropDownItemSelected {
  background-color: orange;
  color: white;
  font-weight: bold;
}

/* dropdown show and hide */

.showDropDown {
  display: block;
  position: absolute;
  z-index: 1;
}

.hideDropDown {
  display: none;
}
