@import "./_variables.scss";

.selectorGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 3em;
  margin: 0 0 1% 0;
  width: 100%;
  align-items: center;
  font-family: $text-font, sans-serif;
  justify-content: space-between;
}

.selector {
  flex-basis: 10%;
  flex-grow: 1;
  text-align: center;
  color: $selector-color;
  background-color: $selector-bg-color;
  border-width: 0 0 0 0;
  border-style: solid;
  border-color: $bg-color;
  margin: 0 0 $selector-spacing 0;
  cursor: pointer;
  border-radius: $clickable-border-radius;
}

.selectorActive {
  color: $selector-selected-color;
  background-color: $selector-selected-bg-color;
}

.selectorText {
  flex-basis: 30%;
  flex-grow: 3;
  font-family: $text-font, sans-serif;
  color: $static-text-color;
  background-color: $static-text-bg-color-accent;
  text-align: center;
  margin: 0 1% 0 0;
}

.selectorPassive {
  background-color: $static-text-bg-color-accent;
  cursor: default;
  border-radius: 0;
}

.selectorHeader {
  line-height: 1.5em;
}
  
.selectorEmpty {
  background-color: $bg-color;
  cursor: default;
}
  