@import "./_variables.scss";

body {
  margin: 1%;
}

.site {

}

.flexContainer {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.noBackground {
  background-image: none;
}

.background1 {
  background-image: url(../images/background.jpg);
  background-size: cover;
  padding: 1% solid white;
  min-height: 100%;
}

/* general class for sections of text in the app */
.sectionElement {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin-top: 1%;
}

/* paragraph styling */

.textHeader {
  font-family: 'Signika', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #eee;
  background-color: #444444;
  /* margin: .5em 0 0 0; */
  padding: 0 2% 0 2%;
  width: 96%;
}

.statictext {
  font-family: 'Signika', sans-serif;
  line-height: 1.5em;
  color: $static-text-color;
  background-color: $static-text-bg-color;
  padding: 1% 2% 1% 2%;
  margin-bottom: 1%;
  width: 96%;
  /* inserts line break for multiline react text components */
  white-space: pre-line;
}

/* links formatting */

a {
  color: black;
  text-decoration: none;
}

.phone {
  background-color: greenyellow;
  font-weight: bold;
}

/* menu items styling */

.menu {
  font-family: 'Signika', sans-serif;
  color: $clickable-color;
  background-color: $clickable-bg-color;
  flex-basis: 22%;
  text-align: center;
  line-height: 3em;
  text-decoration: none;
  min-height: 2em;
  max-width: 30%;
  margin: 1% 1% 0 0;
  border: 2px solid white;
  flex-grow: 1;
  justify-content: space-between;
}


/* selected react router navlink menu item */
.menuActive {
  color: $selected-color;
  background-color: $selected-bg-color;
}

.book {
  color: blue;
}

.logo {
  display: flex;
  flex-basis: 65%;
  font-size: 2.2em;
  text-align: center;
  color: white;
  background-color: black;
  align-items: center;
  justify-content: center;
}

.slogan {
  display: flex;
  flex-basis: 33%;
  font-family: 'Alfa Slab One', Arial, sans-serif;
  font-size: .8em;
  text-align: left;
  padding: 0 0 0 2%;
  background-color: white;
  color: black;
  align-items: center;
}

.heading {
  font-family: 'Alfa Slab One', Arial, sans-serif;
  height: 10vh;
}

/* for removing right margin on last item in a row */

#lastItemOnRow {
  margin-right: 0;
}

/* Menu search/filtering formats */

.filterMenu {
  background-color: lightblue;
}

.filterCheckbox {
  cursor: pointer;
}

/* Menu styling: menu, dish and dish elements */

.menuStyle {
  background-color: lightgoldenrodyellow;
}

.dishStyle {
  background-color: white;
  margin: .2em 0 .5em;
}

.dishName {
  font-weight: bold;
}

.dishDescription {
  font-size: .8em;
}
