@import "./_variables.scss";


/* debug border */
/* * { border: 1px solid red; } */

body {
  margin: $body-margin;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fullWidth {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  margin-top: 1%;
}

/* flex container wrapping subpages (Home, About, Hours etc) for handling animation vertical alignment */

.pageWrapper {
  min-width: 100%;
}

/* subpage within a higher order wrapping component */
.subPage {
  /* min-width: 100%; */
}

/* background images */
.background0 {
  background-image: none;
}

.background1 {
  background-image: url(../images/background.jpg);
  background-size: cover;
  padding: 1% solid white;
  height: 100%;
  background-repeat: no-repeat;
}

/* paragraph styling */

.textHeader {
  font-family: $heading-font, sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  color: $text-header-color;
  background-color: $text-header-bg-color;
  padding: 0 2% 0 2%;
  width: 96%;
}

.statictext {
  font-family: $text-font, sans-serif;
  line-height: 1.5em;
  color: $static-text-color;
  background-color: $static-text-bg-color;
  padding: 1% 2% 1% 2%;
  margin-bottom: 1%;
  width: 96%;
  /* inserts line break for multiline react text components */
  white-space: pre-line;
}

/* for div elements with table cell behaviour */
.tableLikeCell {
  display: inline-block;
  width: 35%;
}

/* links formatting */

a {
  color: black;
  text-decoration: none;
}

/* highlighted elements, for visual attention */
/* not clickable, but pointing out important information */

.highlighted {
  color: $highlight-color;
  background-color: $highlight-bg-color;
}

/* formatting the phone element */
.phone {
  background-color: $clickable-bg-color;
  color: $clickable-color;
  font-weight: $clickable-weight;
}

/* menu items styling */

.menu {
  font-family: $menu-font, sans-serif;
  font-weight: $clickable-weight;
  color: $clickable-color;
  background-color: $clickable-bg-color;
  flex-basis: 22%;
  flex-grow: 1;
  justify-content: space-between;
  text-align: center;
  line-height: 3em;
  text-decoration: none;
  min-height: 2em;
  max-width: 50%;
  margin: 1% 1% 0 0;
  /*  border: 2px solid white; */
}

/* for placing some menu items after the actual content */
.afterContent {
  order: 10;
}

/* hide some menu items when they are active */
.hidden {
  display: none;
}

/* selected react router navlink menu item */
.menuActive {
  color: $selected-color;
  background-color: $selected-bg-color;
}

.book {
  color: blue;
}

.logo {
  display: flex;
  flex-basis: 65%;
  font-family: $logo-font, serif;
  font-size: 2.2em;
  text-align: center;
  color: white;
  background-color: black;
  align-items: center;
  justify-content: center;
}

.slogan {
  display: flex;
  flex-basis: 33%;
  font-family: $slogan-font, serif;
  font-size: .8em;
  text-align: left;
  padding: 0 0 0 2%;
  background-color: white;
  color: black;
  align-items: center;
}

.heading {
  height: 10vh;
}

/* for removing right margin on last item in a row */

.lastItemOnRow {
  margin-right: 0;
}


/* Food menu styling: menu, dish and dish elements */

.menuStyle {
  font-family: $dishes-font, serif;
  width: 100%;
}

/* menu category row formatting, eg "Asia", "Desserts" */

.dishCategoryRow {
  color: $menu-category-color;
  background-color: $menu-category-bg-color;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 2% 0 2%;
  margin: 1em 0 0 0;
}

.dishCategoryRow:first-child {
  margin: 0 0 0 0;
}

.dishStyle {
  background-color: $dish-bg-color;
  padding: .25em 2% .75em 2%;
}

ul.dishHeader {
  font-weight: bold;
  /* max-width: 37em; */
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  margin: 0;
  border: 1px 0 0 0 solid gray;
}

li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ".................................................................................................................................................................................................................................................................................................................................";
}

span:first-child {
  padding-right: .3em;
  background-color: $dish-bg-color;
}

span + span {
  float: right;
  padding-left: 0.3em;
  background-color: $dish-bg-color;
}

span + span:before {
  padding-right: 0.15em;
}

.dishDescription {
  font-size: 1em;
}

.dishIconImage {
  height: $dish-icon-height;
  margin: 0 1% 0 0;
}
